@using Microsoft.AspNetCore.Identity
@using audioplayer.Areas.Identity.Data

@inject SignInManager<audioplayerUser> SignInManager
@inject UserManager<audioplayerUser> UserManager

@model audioplayer.Models.Playlist
@{
    ViewData["Title"] = "Delete Playlist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (SignInManager.IsSignedIn(User))
{
    <h1>Delete Playlist</h1>
    <p id="myplaylists">
        <a class="icons" asp-area="" asp-controller="Playlist" asp-action="Index"><i class="fas fa-compact-disc"></i>My Playlists</a>
    </p>
    <hr />

    <div>
        <dl class="dl-horizontal">
            <dt>
                <h2 class="playlistName">@Html.DisplayFor(model => model.Name)</h2>
            </dt>
            <dt>
                <a class="icons2 playlistEdit" asp-action="Edit" asp-route-id="@Model.Id"><i class="fas fa-edit"></i>Edit</a>
            </dt>
            <dt>
                <img class="playlistImage" src="@Html.DisplayFor(model => model.Image)" alt="image" />
            </dt>
        </dl>
        <p class="titleButton">Are you sure do you want delete this playlist?</p>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" />
        </form>
    </div>
}
else
{
    <h3 style="text-align:center; margin-top:10%;">Please connect to or create a AudioPlayer account to start a new experience. This will enable powerful security and customization services.</h3>
    <img src="~/login.png" style="margin-top:5%; margin-left:25%;" />
    <style>
        .notConnected {
            display: none;
        }
    </style>
}